<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.mapper.ShopMapper">


  <insert id="addShop" parameterType="com.fh.bean.po.ShopBean" useGeneratedKeys="true" keyProperty="id">
      insert into t_shop
(name,title,brandId,productdecs,price,stocks,sortNum,
   createDate,updateDate,author,isDel,imgPath,typeId)
value
(#{name},#{title},#{brandId},#{productdecs},#{price},#{stocks},#{sortNum},
 SYSDATE(),SYSDATE(),'lwh',0,#{imgPath},#{typeId})
  </insert>

    <select id="queryCount" parameterType="com.fh.bean.vo.ShopVo" resultType="java.lang.Integer">
        select count(id) from t_shop  where  isDel=0
    </select>

    <select id="queryShopData" parameterType="com.fh.bean.vo.ShopVo" resultType="com.fh.bean.po.ShopBean">
        select * from  t_shop  where   isDel=0
           limit  ${size*(start-1)},#{size}
    </select>


    <select id="queryShopShow" parameterType="com.fh.bean.vo.ShopVo" resultType="com.fh.bean.vo.ShopShow">
   SELECT  ts.id,ts.`name`,ts.title,ts.productdecs,ts.price,ts.stocks,ts.imgPath,tt.`name` as typeName,tb.`name` as brandName FROM t_shop ts LEFT JOIN t_brand tb ON ts.brandId=tb.id LEFT JOIN t_type tt ON ts.typeId=tt.id
     WHERE ts.isDel=0
     limit  ${size*(start-1)},#{size}
    </select>

    <update id="updateShop" parameterType="com.fh.bean.po.ShopBean">

        update  t_shop set name=#{name},title=#{title},brandId=#{brandId},productdecs=#{productdecs},
        price=#{price},stocks=#{stocks},sortNum=#{sortNum},imgPath=#{imgPath},
        typeId=#{typeId},updateDate=SYSDATE()
          where  id=#{id}
    </update>



    <delete id="deleteShop" parameterType="java.lang.Integer">
       update  t_shop set  isDel=1,updateDate=SYSDATE() where id=#{id}

    </delete>

    <select id="queryShopById" parameterType="java.lang.Integer" resultType="com.fh.bean.po.ShopBean">

        select * from t_shop  where isDel=0 and id=#{id}
    </select>

</mapper>
