<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.mapper.SkuKeyMapper">

    <select id="queryCount" parameterType="com.fh.bean.vo.SkuKVo" resultType="java.lang.Integer">

        select count(id) from t_skukey where isDel=0

    </select>



    <select id="queryListShow" parameterType="com.fh.bean.vo.SkuKVo" resultType="com.fh.bean.vo.SkuKShow">

 SELECT  sku.id,sku.`name`,sku.nameCH,ty.`name` as typeName ,sku.isSku,sku.type FROM
 t_skukey sku LEFT JOIN t_type ty on sku.typeId=ty.id  where  sku.isdel=0
  limit  ${size*(start-1)},#{size}
    </select>


    <select id="queryList" parameterType="com.fh.bean.vo.SkuKVo" resultType="com.fh.bean.po.SkuKeyBean">

        select * from t_skukey where  isDel=0
          limit  ${size*(start-1)},#{size}
    </select>

    <insert id="addSkuKey" parameterType="com.fh.bean.po.SkuKeyBean">

        insert into t_skukey (name,nameCH,typeId,type,isSKU,isDel,createDate,updateDate,author)
        value
        (#{name},#{nameCH},#{typeId},#{type},#{isSKU},0,SYSDATE(),SYSDATE(),'lwh')
    </insert>

    <update id="updateSkuKey" parameterType="com.fh.bean.po.SkuKeyBean">

        update t_skukey set name=#{name},nameCH=#{nameCH},typeId=#{typeId},type=#{type}
        ,isSKU=#{isSKU},updateDate=SYSDATE() where id=#{id}
    </update>

    <update id="delSkuKey" parameterType="java.lang.Integer">
        update t_skukey set isDel=1,updateDate=SYSDATE() where  id=#{id}
    </update>


</mapper>
