<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.mapper.SkuValueMapper">

     <select id="queryData" parameterType="java.lang.Integer" resultType="com.fh.bean.po.SkuValueBean">

         SELECT DISTINCT skv.id,skv.name,skv.nameCH,skv.skuKeyId  FROM t_skuvalue skv LEFT JOIN t_skukey skk on skv.skukeyId=#{typeid}
         where skv.isDel=0
     </select>

    <insert id="addSkuValue" parameterType="com.fh.bean.po.SkuValueBean">

        insert into  t_skuvalue (name,nameCH,skuKeyId,isDel)
        value
        (#{name},#{nameCH},#{skuKeyId},0)
    </insert>

    <select id="querySkuValueById" parameterType="java.lang.Integer" resultType="com.fh.bean.po.SkuValueBean">
        select  * from  t_skuvalue where id=#{id}
    </select>

</mapper>
