<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.mapper.SkuValueMapper">


    <select id="queryCount" parameterType="com.fh.bean.vo.SkuValVo" resultType="java.lang.Integer">

        select count(id) from t_skuvalue  where  isDel=0  and skuKeyId=#{skuKeyId}
    </select>

    <select id="queryPageData" parameterType="com.fh.bean.vo.SkuValVo" resultType="com.fh.bean.po.SkuValueBean">
         SELECT DISTINCT skv.id,skv.name,skv.nameCH,skv.skuKeyId  FROM t_skuvalue skv LEFT JOIN t_skukey skk on skv.skukeyId=#{skuKeyId}
         where skv.isDel=0 and  skv.skuKeyId=#{skuKeyId}
        limit  ${size*(start-1)},#{size}
    </select>



     <select id="queryData" parameterType="java.lang.Integer" resultType="com.fh.bean.po.SkuValueBean">

         SELECT DISTINCT skv.id,skv.name,skv.nameCH,skv.skuKeyId  FROM t_skuvalue skv LEFT JOIN t_skukey skk on skv.skukeyId=#{typeid}
         where skv.isDel=0 and  skv.skuKeyId=#{skuKeyId}
     </select>

    <insert id="addSkuValue" parameterType="com.fh.bean.po.SkuValueBean">

        insert into  t_skuvalue (name,nameCH,skuKeyId,isDel)
        value
        (#{name},#{nameCH},#{skuKeyId},0)
    </insert>

    <select id="querySkuValueById" parameterType="java.lang.Integer" resultType="com.fh.bean.po.SkuValueBean">
        select  * from  t_skuvalue where id=#{id}
    </select>

    <update id="updateSkuValue" parameterType="com.fh.bean.po.SkuValueBean">
        update t_skuvalue set name=#{name},nameCH=#{nameCH},skuKeyId=#{skuKeyId} where  id=#{id}

    </update>

    <delete id="deleteSkuValue" parameterType="java.lang.Integer">

        update t_skuvalue set  isDel=1 where id=#{id}
    </delete>


    <select id="querySkuValueBySkuKeyId"  parameterType="java.lang.Integer" resultType="com.fh.bean.po.SkuValueBean">

        select * from  t_skuvalue where isDel=0 and skuKeyId =#{skuKeyId}

    </select>
</mapper>
