<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.mapper.TypeMapper">

<select id="getData"  resultType="com.fh.bean.po.TypeBean">

      select * from  t_type where  1=1 and isDel=0
</select>


    <select id="getDataByPid" parameterType="java.lang.Integer" resultType="com.fh.bean.po.TypeBean">

        select * from  t_type where  1=1 and isDel=0 and pid=#{pid}
    </select>


     <insert id="addType" parameterType="com.fh.bean.po.TypeBean"  useGeneratedKeys="true"
             keyColumn="id"
             keyProperty="id">
         insert into t_type (name,pid,createDate,updateDate,creator,isDel)
         value
          (#{name},#{pid},SYSDATE(),SYSDATE(),'admin',0)
     </insert>


    <update id="update" parameterType="com.fh.bean.po.TypeBean">

        update t_type set name=#{name},pid=#{pid},updateDate=SYSDATE(),creator='admin',isDel=0
        where 1=1 and id=#{id}
    </update>
</mapper>
